<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin Blogger View</title>
    <!-- Materialize Link -->
    <% include materializestyle %>
  </head>
  <body>
    <!-- Mandy's navbar -->
    <% include navbar %>

    <main class="container">
      <section>
        <div class="pic"><img src="<%= blogger.image_url %>" alt="" /></div>
        <% if(!blogger.approved) { %>
        <h1>Applicant: <%= blogger.blogger_name %></h1>
        <% } else { %>
        <h1>Blogger: <%= blogger.blogger_name %></h1>
        <% } %> <% if(blogger.approved) { %>
        <div class="card message-form">
          <h4>Message Blogger</h4>
          <form action="/admin/message/blogger/<%= blogger.id %>" method="POST">
            <input type="text" name="message_title" placeholder="Title" />
            <textarea
              name="message_content"
              placeholder="Message Content"
            ></textarea>
            <input class="btn" type="submit" value="Send" />
          </form>
        </div>

        <a href="/admin/home"></a> <% } %>
        <h4>Genre: <%= blogger.genre %></h4>
        <h4>Website: <a href="<%= blogger.link %>">Website</a></h4>
        <h4>Sample:</h4>
        <p><%- blogger.sample %></p>
        <% if(!blogger.approved) { %>
        <a href="/admin/approve/blogger/<%= blogger.id %>">Approve Blogger</a>
        <span> | </span>
        <a href="/admin/reject/blogger/<%= blogger.id %>">Reject Blogger</a> <%
        } %> <span> | </span> <a href="/admin/home">Return to Home</a>
      </section>
    </main>
    <!-- JavaScript Links -->
    <% include materializejs %>
  </body>
</html>
