<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin Blog View</title>
  </head>
  <body>
    <main>
      <section class="blog">
        <h1><%= blog.blog_title %></h1>
        <h2>By: <%= blog.blogger_name %></h2>
        <h3>Written: <%= writtenOn %></h3>
        <div class="content"><%= blog.blog_content %></div>
        <a href="/admin/reject/blog/<%= blog.id %>">Reject Blog</a>
      </section>
      <section class="comments">
        <h1>Comments</h1>
        <div class="comments-container">
          <% if(!comments.length) { %>
          <p>There are currently no comments for this blog post.</p>
          <% } %> <% for (let i = 0; i < comments.length; i++) { %>
          <div class="comment-box">
            <h4><%= comments[i].screen_name %></h4>
            <h6>Date: <%= commentMadeOn[i] %></h6>
            <p><%= comments[i].content %></p>
            <a
              href="/admin/comments/delete/<%= comments[i].id %>/<%= comments[i].blog_id %>"
              >Delete Comment</a
            >
          </div>
          <% } %>
        </div>
      </section>
    </main>
  </body>
</html>
