<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin Blog View</title>
    <!-- Materialize Link -->
    <% include materializestyle %>
  </head>
  <body>
    <!-- Mandy's navbar -->
    <% include navbar %>

    <main class="container">
      <div class=" row blog-wrapper z-depth-2">
        <div class="the-blog col offset-s1 s11">
          <h1><%= blog.blog_title %></h1>
          <h3>By: <%= blog.blogger_name %></h3>
          <h4>Written: <%= writtenOn %></h4>
          <div id="blog_content" class="content"><%- blog.blog_content %></div>
        </div>
      </div>
      <div class="row admin-options">
        <div class="col offset-s3 s9">
          <a class="btn-large" href="/admin/approve/blog/<%= blog.id %>"
            >Approve Blog</a
          >
          <span> </span>
          <a class="btn-large" href="/admin/reject/blog/<%= blog.id %>"
            >Reject Blog</a
          >
        </div>
      </div>
    </main>
    <!-- JavaScript Links -->
    <% include materializejs %>
  </body>
</html>
