<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Specific Article</title>
  <!-- Materialize Link -->
  <% include materializestyle %>
</head>

<body>
  <!-- Mandy's navbar -->
  <% include navbar %>
  <main class="container">

  <div class="row">
  <div class="col s12 m12  z-depth-1">
    <div class="card light-blue darken-1">
      <div class="card-content white-text">
        <span class="card-title"><h2 class="grey-text text-lighten-3">
          <%= blog.blog_title %>
        </h2>
        <img src="<%= blog.image_url %>" height="100px" alt="">
        <h5>by: <%= blog.blogger_name %></h5>
          </span>
      </div>
    </div>
  </div>
</div>

    <div class="article">
      <div class="content">
        <h5><%- blog.blog_content %></h5>
      </div>
      <div class="votes">
        <a href="/upvote/<%= blog.id %>"><img src="https://img.icons8.com/dusk/64/000000/facebook-like.png" height='25px'></a>
        | <span>
          <%= blog.upvote %></span>
        <a href="/downvote/<%= blog.id  %>"><img src="https://img.icons8.com/dusk/24/000000/middle-finger.png"></a> |
        <span>
          <%= blog.downvote %></span>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <form class="col s12" action="/new/comment/<%= blog.id %>" method="post">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" name="content" class="materialize-textarea"></textarea>
              <label for="textarea1">Add Your Comment</label>
              <button class="btn-large" type="submit" name="button">Submit</button>
            </div>
          </div>
        </form>
      </div>
        <h4>Comments</h4>
        <% for (let i = 0; i < comments.length; i++) { %>
        <div class="comment card">
          <div class="card-content">
            <h5 class="light-blue-text">
              <%= comments[i].screen_name %></h5>
          <h5>
            <%= comments[i].content %>
          </h5>

            </div>
        </div>
        <% } %>
</div>
    </div>
    </main>

    <% include footer %>
    <!-- JavaScript Links -->
    <% include materializejs %>
</body>

</html>
