<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Main Page</title>
    <style media="screen">
      .writerBloc {
        float: left;
        width: 250px;
        height: 250px;
        border: solid 1px black;
        padding: 5px;
        margin: 10px;
      }
      contentBloc {
        float: left;
        width: 200px;
        height: 200px;
        border: solid 1px black;
        padding: 5px;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="#">Home</a>
      <select class="" name="Options">
        <option value="logout">Logout</option>
        <option value="logout">Edit Profile</option>
        <option value="logout">Your Comments</option>
      </select>
    </nav>
    <div class= "row" "writerBloc">
      <img src="<%= blogger.image_url %>" height="250px" alt="Writer Picture">
      <h1><%= blogger.blogger_name %></h1>
    </div>

    <div class="row">
    <% for (let i = 0; i < blogs.length; i++) { %>
    <div class="contentBloc">
      <h3><a href="/<%= blogs[i].id %>"><%= blogs[i].blog_title %></a></h3>
      <article><%= blogs[i].genre %></article>
      </div>
      <% } %>

    </body>
  </html>
