<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Specific Article</title>
  <!-- Materialize Link -->
  <% include materializestyle %>
</head>

<body>
  <!-- Mandy's navbar -->
  <% include navbar %>

  <div class="container">
    <h2>
      <%= blog.blog_title %>
    </h2>
    <span>By:
      <%= blog.blogger_name %></span>
    <img src="<%= blog.image_url %>" height="50px" alt="">
    <div class="article">
      <div class="content">
        <%- blog.blog_content %>
      </div>
      <div class="votes">
        <a href="/upvote/<%= blog.id %>"><img src="https://img.icons8.com/dusk/64/000000/facebook-like.png" height='25px'></a>
        | <span>
          <%= blog.upvote %></span>
        <a href="/downvote/<%= blog.id  %>"><img src="https://img.icons8.com/dusk/24/000000/middle-finger.png"></a> |
        <span>
          <%= blog.downvote %></span>
      </div>
    </div>

    <div class="container">
      <div class="comments">
        <% for (let i = 0; i < comments.length; i++) { %>
        <div class="comment">
          <h4>Comments</h4>
          <p>
            <%= comments[i].content %>
          </p>
          <em>
            <%= comments[i].screen_name %></em>
        </div>
        <% } %>
      </div>
    </div>

    <% include footer %>
    <!-- JavaScript Links -->
    <% include materializejs %>
</body>

</html>