<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Specific Article</title>
  </head>
  <body>
    <div class="container">
      <h2><%= blog.blog_title %></h2>
      <span>By: <%= blog.blogger_name %></span>
      <img src="<%= blog.image_url %>" height="50px" alt="">
      <div class="article">
        <%= blog.blog_content %>
      <div class="votes">
        <a href="/upvote/<%= blog.id %>">*uv*</a> | <span><%= blog.upvote %></span>
        <a href="/downvote/<%= blog.id  %>">*dv*</a> | <span><%= blog.downvote %></span>
      </div>
    </div>

      <div class="comments">
        <% for (let i = 0; i < comments.length; i++) { %>
        <div class="comment">
          <h4>Comments</h4>
          <p><%= comments[i].content %></p>
          <em><%= comments[i].screen_name %></em>

        </div>
        <% } %>
      </div>
    </div>

  </body>
</html>
