<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Main Page</title>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style media="screen">
      .writerBloc {
        float: left;
        width: 250px;
        height: 250px;
        border: solid 1px black;
        padding: 5px;
        margin: 10px;
      }
      contentBloc {
        float: left;
        width: 200px;
        height: 200px;
        border: solid 1px black;
        padding: 5px;
        margin: 10px;
      }
    </style>
    
  </head>
  <body>


    <h1>Welcome Gentle Readers</h1>
    <h2>Our Writers</h2>
    <div class="row">
    <% for (let i = 0; i < bloggers.length; i++) { %>
    <div class="column writerBloc">
      <h3><%= bloggers[i].blogger_name %></h3>
      <img src="<%= bloggers[i].image_url %>" height="125px" alt="Writer Picture">
      <article><%= bloggers[i].genre %></article>
      <a href="/profile/<%= bloggers[i].id %>">Profile</a>
      </div>
      <% } %>
      <h2>Our Articles</h2>
      <div class="row">
      <% for (i = 0; i < blogs.length; i++) { %>
      <div class="column contentBloc">
        <h5><%= blogs[i].blogger_name %></h5>
        <h5><%= blogs[i].blog_title %></h5>
        <article><%= blogs[i].blog_content %></article>
        </div>
        <% } %>

      </div>

      <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
