<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Main Page</title>
  <!-- Materialize Link -->
  <% include materializestyle %>
</head>
<body>
  <!-- Mandy's navbar -->
  <% include navbar %>
    <main class="container">
      <div class="row">
      <div class="col s12 m12  z-depth-1">
        <div class="card light-blue darken-1">
          <div class="card-content white-text">
            <span class="card-title">
              <div class="row">
              <h1>Welcome to BuytheBook's Content</h1>
              <h1><%= user.screen_name %></h1>
            </div>
              </span>
          </div>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col s4 writers ">
          <h3>Our Writers</h3>
            <% for (let i = 0; i < bloggers.length; i++) { %>
              <h4>
                <%= bloggers[i].blogger_name %>
              </h4>
              <img src="<%= bloggers[i].image_url %>" height="125px" alt="Writer Picture">
              <h5>
                <%= bloggers[i].genre %>
              </h5>
              <a href="/profile/<%= bloggers[i].id %>" class="black-text">Profile</a>
            <% } %>
        </div>

        <div class="col s8 articles z-depth-1">
          <h2>Our Articles</h2>
            <% for (i = 0; i < blogs.length; i++) { %>
              <h5><a href="/article/<%= blogs[i].id %>" class="black-text">
                  <%= blogs[i].blog_title %></a></h5>
              <h5>
                <%= blogs[i].blogger_name %>
              </h5>
              <article>
                <%- blogs[i].blog_content.slice(0, blogs[i].blog_content.indexOf('<br>')) %>
              </article>
              <img src="https://img.icons8.com/dusk/64/000000/facebook-like.png" height='25px'> | <span>
                <%= blogs[i].upvote %></span>
              <img src="https://img.icons8.com/dusk/24/000000/middle-finger.png"> | <span>
                <%= blogs[i].downvote %></span>
            <% } %>
        </div>
      </div>
    </main>

    <% include footer %>

    <!-- JavaScript Links -->
    <% include materializejs %>

</body>

</html>
