<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Main Page</title>
  <!-- Materialize Link -->
  <% include materializestyle %>


</head>

<body>
  <!-- Mandy's navbar -->
  <% include navbar %>
  <main>
  <h1>Welcome
    <%= user.user_name %>
  </h1>
  <h2>Our Writers</h2>
  <div class="row">
    <% for (let i = 0; i < bloggers.length; i++) { %>
    <div class="column writerBloc">
      <h3>
        <%= bloggers[i].blogger_name %>
      </h3>
      <img src="<%= bloggers[i].image_url %>" height="125px" alt="Writer Picture">
      <article>
        <%= bloggers[i].genre %>
      </article>
      <a href="/profile/<%= bloggers[i].id %>">Profile</a>
    </div>
    <% } %>
    <h2>Our Articles</h2>
    <div class="row">
      <% for (i = 0; i < blogs.length; i++) { %>
      <div class="column contentBloc">
        <h5><a href="/article/<%= blogs[i].id %>">
            <%= blogs[i].blog_title %></a></h5>
        <h5>
          <%= blogs[i].blogger_name %>
        </h5>
        <article>
          <%= blogs[i].blog_content %>
        </article>
        <img src="https://img.icons8.com/dusk/64/000000/facebook-like.png" height='25px'> | <span>
          <%= blogs[i].upvote %></span>
        <img src="https://img.icons8.com/dusk/24/000000/middle-finger.png"> | <span>
          <%= blogs[i].downvote %></span>
      </div>
      <% } %>
    </div>
    </main>

    <% include footer %>

    <!-- JavaScript Links -->
    <% include materializejs %>

</body>

</html>