<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Main Page</title>
  <!-- Materialize Link -->
  <% include materializestyle %>


</head>

<body>
  <!-- Mandy's navbar -->
  <% include navbar %>

  <main class="container">
    <div class="row">
    <div class="col s12">
      <div class="card light-blue darken-1">
        <div class="card-content white-text">
          <span class="card-title">
            <h2>Welcome <%= user.user_name %></h2> <h4>(aka
              <%= user.screen_name %>)
          </h4></span>
          <div>
            <span><h4>Your Comments</h4></span>
          </div>
        </div>
      </div>
    </div>
  </div>
    <% for (let i = 0; i < commentHistory.length; i++) { %>
    <div class="">
      <h5>
        <%= commentHistory[i].blog_title %> by:
        <%= commentHistory[i].blogger_name %>
      </h5>
      <em><h4>--
        <%= commentHistory[i].content %></h4></em>
    </div>
    <% } %>
  </main>

  <% include footer %>
  <!-- JavaScript Links -->
  <% include materializejs %>

</body>

</html>
