<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Main Page</title>
  <!-- Materialize Link -->
  <% include materializestyle %>


</head>

<body>
  <!-- Mandy's navbar -->
  <% include navbar %>

  <main class="container">
    <h2>Welcome
      <%= user.user_name %>
    </h2>
    <h4>aka
      <%= user.screen_name %>
    </h4>
    <% for (let i = 0; i < commentHistory.length; i++) { %>
    <div class="">
      <p>
        <%= commentHistory[i].blog_title %> by:
        <%= commentHistory[i].blogger_name %>
      </p>
      <em>--
        <%= commentHistory[i].content %></em>

    </div>
    <% } %>
  </main>

  <% include footer %>
  <!-- JavaScript Links -->
  <% include materializejs %>

</body>

</html>